@page "/"

<PageTitle>Index</PageTitle>

<h1>H3ll0 J0hn</h1>

Proof of concept de ce dont tu me parlais hier :).

Il te faudra une DB avec une table nommée Image et une colonne en VARBINARY nommée ImageData pour le faire fonctionner ou modifier les commandes sql,
 à toi de voir, la connection string est dans la classe databaseservice du dossier data.

 Attention, le code est relativement degeu et écris à la va vite, pour l'instant il ne prends que des JPG
 ne depassant pas 1Mb :). Have fun.

